.highScorePage{
    height: 100%;
    background-color: #604897;
}

.itemHightScoreAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemHightScore {
    background-color: #604897;
    width: 75%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
}

h1 {
    margin: 0;
    color: white;
}