.scorePage {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 50em;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}