.App{
 background: #544293;   
}

.h1Informer{
    font-size: 80px;
}

.CategoryColumn{
 display: flex;
 height: 80vh;
 width: 90vw;
 margin: auto;
 justify-content: center;
 flex-direction: column;
}
.CategoryLine{
    display: flex;
    flex-direction: row;
}
.largeCell{
    width: 66%;
    background-color: #FECA21;
    padding: 30px;
    margin: 15px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shortCell{
    width: 33%;
    background-color: #FECA21;
    padding: 30px;
    margin: 15px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
}
.fullCell{
    width: 100%;
    background-color: #FECA21;
    margin: 15px;
}

.images-wrap{
    height: 70vh;
}

.each-slide-effect, .active{
    width: 80vw !important;
    margin: auto;
}

.images-wrap .active{
    background: white;
    border-radius: 20px;
}

.textCard{
    width: 70vw;
    margin: auto;
    font-size: 25px;
}

.cardDiv{
    display: flex;
    align-items: center;
    height: 70vh;
    background: white;
    border-radius: 20px;
}