.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

body{
  background-color: #544293;
}

.rowDashboard {
  width: 100%;
  display: flex;
  align-items: center;
}

.columnNav {
  text-align: left;
  flex: 25%;
}

.columnNav ul{
  list-style-type: none;
}

.columnNav li{
  background-color: #e83b6f;

}

.columnNav li:hover{
  background-color: #df0244;
}
.columnNav button:hover{
  background-color: #df0244;
}
.columnNav button{
  background-color: #e83b6f;

  border-radius: 0;
  border: none;
  cursor: pointer;
  background-color: #e83b6f;
  font-size: 2em;
  padding: 5px;
  margin: 5px;
  text-align: left;
  color: white;
}


.columnGraph {
  flex: 75%;
  text-align: center;
}