:root{
  --purple: #544293;
  --yellow: #FECA21;
  --purpleButtonPass: #AF97DF;
  --pinkButtonAbandon: #E83B6F;
  --greenButtonValider: #41AF6B;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.screen {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}


h1{
  padding: 30px;
}