.questionPage {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 50em;
    margin-top: 5em;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.time {
    font-size: 2em;
    font-weight: bold;
}